<p style="width: 80%; margin: 0 auto;">
    На почетној страни апликације потребно је приказати опште информације о укупном
    броју ресторана, укупном броју регистрованих гостију у систему, број резервација у
    последњих 24 часа, седам дана и месец дана, и приказати листу ресторана са листом
    тренутно ангажованих конобара (исписати само њихово име и презиме) у сваком од тих
    ресторана. Омогућити сортирање (и неопадајуће, и нерастуће) ресторана по свакој
    колони (назив, адреса, тип ресторана) и омогућити претраживање ресторана по имену,
    адреси и/или типу ресторана (не морају сва поља за претрагу бити попуњена). Типови
    ресторана могу бити кинески, индијски, јапански, домаћа кухиња и слично.
    </p>
    