<p style="width: 80%; margin: 0 auto;">
    На почетној страни апликације потребно је приказати опште информације <br> <b>DONE</b> о укупном
    броју ресторана, <br>укупном броју регистрованих гостију у систему,<br> број резервација у
    последњих 24 часа, <br>седам дана и <br>месец дана, и <br>приказати листу ресторана са <br>листом
    тренутно ангажованих конобара (исписати само њихово име и презиме) у сваком од тих
    ресторана. <br>Омогућити сортирање (и неопадајуће, и нерастуће) ресторана по свакој
    колони (назив, адреса, тип ресторана) и<br> омогућити претраживање ресторана по имену,
    адреси и/или типу ресторана (не морају сва поља за претрагу бити попуњена). Типови
    ресторана могу бити кинески, индијски, јапански, домаћа кухиња и слично.
    </p>
    <h3>Total Number of restaurants {{restaurantCount}}</h3>