<div class="container">
    <p>
        На почетној страни апликације потребно је приказати опште информације <br> <b>DONE</b> о укупном
        броју ресторана, <br> <b>DONE </b>укупном броју регистрованих гостију у систему,<br> број резервација у
        последњих 24 часа, <br>седам дана и <br>месец дана, и <br> <b>DONE</b>приказати листу ресторана са <br>листом
        тренутно ангажованих конобара (исписати само њихово име и презиме) у сваком од тих
        ресторана. <br><b>DONE</b> Омогућити сортирање (и неопадајуће, и нерастуће) ресторана по свакој
        колони (назив, адреса, тип ресторана) и<br><b>DONE</b> омогућити претраживање ресторана по имену,
        адреси и/или типу ресторана (не морају сва поља за претрагу бити попуњена). Типови
        ресторана могу бити кинески, индијски, јапански, домаћа кухиња и слично.
        </p>
        <h3>Total number of restaurants {{restaurantCount}}</h3>
        <h3>Total number of guests {{guestUsersCount}}</h3>
    
        <div>
            <div *ngIf="restaurants.length > 0">
              <h3>List of Restaurants</h3>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      <span (click)="sortData('name')">Name</span>
                      <input type="text" class="form-control" [(ngModel)]="filterName" (input)="filterRestaurants()" placeholder="Search by name">
                    </th>
                    <th>
                      <span (click)="sortData('address')">Address</span>
                      <input type="text" class="form-control" [(ngModel)]="filterAddress" (input)="filterRestaurants()" placeholder="Search by address">
                    </th>
                    <th>
                      <span (click)="sortData('type')">Type</span>
                      <input type="text" class="form-control" [(ngModel)]="filterType" (input)="filterRestaurants()" placeholder="Search by type">
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let restaurant of filteredRestaurants">
                    <td>{{ restaurant.name }}</td>
                    <td>{{ restaurant.address }}</td>
                    <td>{{ restaurant.type }}</td>
                    <td *ngIf="isLoggedIn()"><a [routerLink]="['/show-restaurant', restaurant.name]">Detalji</a></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="restaurants.length === 0">
              <p>No restaurants found.</p>
            </div>
          </div>
</div>
