<div class="container">
  <h3>Map</h3>
  <div class="d-flex justify-content-center">
    <canvas #mapCanvas width="600" height="600" class="border"></canvas>
  </div>
  <div class="mt-4 row">
    <div class="col-md-6">
      <h4>Reservation Details</h4>
      <div *ngIf="reservation">
        <p><strong>Date:</strong> {{ reservation.date }}</p>
        <p><strong>Time:</strong> {{ reservation.time }}</p>
        <p><strong>Description:</strong> {{ reservation.description }}</p>
        <p><strong>Guests:</strong> {{ reservation.guests }}</p>
        <p><strong>Restaurant Name:</strong> {{ reservation.restaurantName }}</p>
        <p><strong>Status:</strong> {{ reservation.status }}</p>
        <!-- Add more details as needed -->
      </div>
      <div *ngIf="!reservation">
        <p>No reservation selected.</p>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Select Table</h4>
      <div class="form-group">
        <label for="tableSelect">Select a Table:</label>
        <select id="tableSelect" class="form-control" [(ngModel)]="selectedTableId">
          <option *ngFor="let table of availableTables; let i = index" [value]="table._id">Table {{ i + 1 }}</option>
        </select>
      </div>
    </div>
  </div>
</div>
