<div class="text-center container p-4">
    <main class="form-signin">
        <form (ngSubmit)="changePassword()">
            <h1 class="h3 mb-3 fw-normal">Change Password</h1>

            <div class="form-floating p-2">
                <input type="password" class="form-control" id="currentPassword" name="currentPassword" placeholder="Current Password" [(ngModel)]="currentPassword">
                <label for="currentPassword">Current Password</label>
            </div>
            <div class="form-floating p-2">
                <input type="password" class="form-control" id="newPassword" name="newPassword" placeholder="New Password" [(ngModel)]="newPassword">
                <label for="newPassword">New Password</label>
            </div>
            <div class="form-floating p-2">
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm New Password" [(ngModel)]="confirmPassword">
                <label for="confirmPassword">Confirm New Password</label>
            </div>

            <div class="mt-2">
                <button type="submit" class="w-60 btn btn-lg btn-primary">Change Password</button>
            </div>
        </form>
    </main>
    <div class="mt-4 text-danger">
        <p>{{ message }}</p>
    </div>
</div>
