<!-- restaurant-detail.component.html -->

<div class="container">
    <h2>{{ restaurantName }} Menu</h2>

    <button class="btn btn-primary" (click)="finishOrder()">Finish order</button>
    <br><br>
  
    <div *ngIf="foods.length > 0; else noFoods">
      <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let food of foods">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ food.name }}</h5>
              <p class="card-text">Price: {{ food.price }}</p>
              <p class="card-text">Ingredients: {{ food.ingredients.join(', ') }}</p>
              <div class="form-group">
                <label for="quantity{{ food._id }}">Quantity:</label>
                <input type="number" id="quantity{{ food._id }}" class="form-control" [(ngModel)]="food.quantity" name="quantity" min="1" required>
              </div>
              <br>
              <button class="btn btn-primary" (click)="addToCart(food)">Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <ng-template #noFoods>
      <p>No foods available at the moment.</p>
    </ng-template>
  </div>
  