<div class="container">
  <h2>Guest Count for Waiter: {{ waiterUsername }}</h2>
  <canvas #barChart style="height: 200px; width: 29%; max-width: 400px; max-height: 200px;">{{barChart}}</canvas>

  <h2>Number of guests per waiter</h2>
  <div>
    <canvas #pieChart style="height: 200px; width: 29%; max-width: 400px; max-height: 200px;">{{pieChart}}</canvas>
  </div>

  <h2>Average reservations per day</h2>
  <div>
    <canvas #histogramChart style="height: 200px; width: 29%; max-width: 400px; max-height: 200px;">{{histogramChart}}</canvas>
  </div>

  <ng-template #noData>
    <p>No guest count data available.</p>
  </ng-template>
</div>
